	body {
		margin: 0 !important;
	}
/* Spotlight */

	.spotlight {
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
	}

	.spotlight .image {
		border-radius: 0;
		width: 40%;
	}

	
	.image img:hover body { overflow-x: hidden; }

	.spotlight .image img {
			border-radius: 0;
			width: 100%;
	}

	.spotlight .content {
		padding: 2em 4em 0.1em 4em ;
		-moz-order: 2;
		-webkit-order: 2;
		-ms-order: 2;
		order: 2;
		max-width: 48em;
		width: 60%;
	}

	.spotlight:nth-child(2n) {
		-moz-flex-direction: row-reverse;
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}



		@media screen and (max-width: 1280px) {

			.spotlight .image {
				width: 45%;
			}

			.spotlight .content {
				width: 55%;
			}

		}

		@media screen and (max-width: 980px) {

			.spotlight {
				display: block;
			}

				.spotlight br {
					display: none;
				}

				.spotlight .image {
					width: 100%;
				}

				.spotlight .content {
					padding: 4em 3em 2em 3em ;
					max-width: none;
					text-align: center;
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			.spotlight .content {
				padding: 3em 2em 1em 2em ;
			}

		}

/* Wrapper */

	.wrapper {
		padding: 6em 0 4em 0 ;
	}

		.wrapper > .inner {
			width: 75em;
			margin: 0 auto;
		}

			@media screen and (max-width: 1280px) {

				.wrapper > .inner {
					width: 90%;
				}

			}

			@media screen and (max-width: 980px) {

				.wrapper > .inner {
					width: 100%;
				}

			}

		.wrapper.alt {
			padding: 0;
		}

		
			@media screen and (max-width: 736px) {

				.wrapper.style1 .features li {
					border-top-color: rgba(0, 0, 0, 0.125);
				}

			}

		.wrapper.style2 {
		}


		@media screen and (max-width: 980px) {

			.wrapper {
				padding: 4em 3em 2em 3em ;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3em 2em 1em 2em ;
			}

		}
#two{
	color: #fff;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 15pt;
	font-weight: 400;
	letter-spacing: 0.075em;
	line-height: 1.65em;

}

		@media screen and (max-width: 1680px) {

			#two {
				font-size: 13pt;
			}

		}

		@media screen and (max-width: 1280px) {

			#two{
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			#two {
				font-size: 11pt;
				letter-spacing: 0.0375em;
			}

		}



	#two p {
		margin: 0 0 2em 0;
	}


	#two h2 {
		font-size: 1.35em;
		line-height: 1.75em;
	}

		@media screen and (max-width: 736px) {

			#two h2 {
				font-size: 1.1em;
				line-height: 1.65em;
			}

		}


#main{
	float:left;
	width:100%;
	
}
